.container {
    padding: 30px;
}

.form_element {
    margin-bottom: 30px;
}

.controls {
    padding-top: 100px;
}

.login {
    max-width: 500px;
}

.form-complete-page {
    max-width: 700px;
}

.card.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
}

.chart-element-container {
    margin-bottom: 20px;
    height: 50vh !important;
}

.grid-container {
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}